<a href="https://colab.research.google.com/github/Team-AlmaBetter/Retail-Sales-Prediction/blob/niharika/Rossmann_Sales_Prediction_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b><u> Project Title : Sales Prediction : Predicting sales of a major store chain Rossmann</u></b>

## <b> Problem Description </b>

### Rossmann operates over 3,000 drug stores in 7 European countries. Currently, Rossmann store managers are tasked with predicting their daily sales for up to six weeks in advance. Store sales are influenced by many factors, including promotions, competition, school and state holidays, seasonality, and locality. With thousands of individual managers predicting sales based on their unique circumstances, the accuracy of results can be quite varied.

### You are provided with historical sales data for 1,115 Rossmann stores. The task is to forecast the "Sales" column for the test set. Note that some stores in the dataset were temporarily closed for refurbishment.

## <b> Data Description </b>

### <b>Rossmann Stores Data.csv </b> - historical data including Sales
### <b>store.csv </b> - supplemental information about the stores


### <b><u>Data fields</u></b>
### Most of the fields are self-explanatory. The following are descriptions for those that aren't.

* #### Id - an Id that represents a (Store, Date) duple within the test set
* #### Store - a unique Id for each store
* #### Sales - the turnover for any given day (this is what you are predicting)
* #### Customers - the number of customers on a given day
* #### Open - an indicator for whether the store was open: 0 = closed, 1 = open
* #### StateHoliday - indicates a state holiday. Normally all stores, with few exceptions, are closed on state holidays. Note that all schools are closed on public holidays and weekends. a = public holiday, b = Easter holiday, c = Christmas, 0 = None
* #### SchoolHoliday - indicates if the (Store, Date) was affected by the closure of public schools
* #### StoreType - differentiates between 4 different store models: a, b, c, d
* #### Assortment - describes an assortment level: a = basic, b = extra, c = extended
* #### CompetitionDistance - distance in meters to the nearest competitor store
* #### CompetitionOpenSince[Month/Year] - gives the approximate year and month of the time the nearest competitor was opened
* #### Promo - indicates whether a store is running a promo on that day
* #### Promo2 - Promo2 is a continuing and consecutive promotion for some stores: 0 = store is not participating, 1 = store is participating
* #### Promo2Since[Year/Week] - describes the year and calendar week when the store started participating in Promo2
* #### PromoInterval - describes the consecutive intervals Promo2 is started, naming the months the promotion is started anew. E.g. "Feb,May,Aug,Nov" means each round starts in February, May, August, November of any given year for that store

#<b>Import necessary libraries

In [31]:
import pandas as pd, datetime
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns

from statsmodels.tsa.stattools import adfuller
import matplotlib.pyplot as plt
get_ipython().run_line_magic('matplotlib', 'inline')
from time import time
import os
from math import sqrt
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
import itertools
import statsmodels.api as sm
from statsmodels.tsa.stattools import acf,pacf
from statsmodels.tsa.arima_model import  ARIMA
from sklearn import model_selection
from sklearn.metrics import mean_squared_error, r2_score
from pandas import DataFrame
import xgboost as xgb
from fbprophet import Prophet
import warnings
warnings.filterwarnings('ignore')

# <b>2.Data Preparation

##<b>2.1 Import Datasets

In [32]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [33]:
R_data = pd.read_csv('/content/drive/MyDrive/Retail Sales Prediction-Capstone 2/Data & Resources/Rossmann Stores Data.csv')
R_data.head()

   Store  DayOfWeek        Date  Sales  ...  Open  Promo  StateHoliday SchoolHoliday
0      1          5  2015-07-31   5263  ...     1      1             0             1
1      2          5  2015-07-31   6064  ...     1      1             0             1
2      3          5  2015-07-31   8314  ...     1      1             0             1
3      4          5  2015-07-31  13995  ...     1      1             0             1
4      5          5  2015-07-31   4822  ...     1      1             0             1

[5 rows x 9 columns]

In [34]:
R_data.shape

(1017209, 9)

In [35]:
store = pd.read_csv('/content/drive/MyDrive/Retail Sales Prediction-Capstone 2/Data & Resources/store.csv')
store.head()

   Store StoreType  ... Promo2SinceYear    PromoInterval
0      1         c  ...             NaN              NaN
1      2         a  ...          2010.0  Jan,Apr,Jul,Oct
2      3         a  ...          2011.0  Jan,Apr,Jul,Oct
3      4         c  ...             NaN              NaN
4      5         a  ...             NaN              NaN

[5 rows x 10 columns]

In [36]:
store.shape

(1115, 10)

#<B>2.2 Dealing With Missing Values

##<b>2.2.1 Count missing values in each dataset

In [37]:
print("R_data:\n\n", R_data.isnull().sum(),  
     "\n\nstore:\n\n", store.isnull().sum())

R_data:

 Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

store:

 Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

##<b>2.2.2 Remove features with high percentages of missing values

We can see that some features have a high percentage of missing values and they won't be accurate as indicators, so we will remove features with more than 30% missing values.

In [38]:
# remove features
store = store.drop(['CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear','Promo2SinceWeek',
                     'Promo2SinceYear', 'PromoInterval'], axis=1)

##<B>2.2.3

#  Replace missing values in features with low percentages of missing values

In [39]:
# check for any null values
store.isnull().sum()

Store                  0
StoreType              0
Assortment             0
CompetitionDistance    3
Promo2                 0
dtype: int64

Since Compition distance have 3 null values.
So we will fill the null values with its mean

In [40]:
# filling competition distance with mean
store['CompetitionDistance'].fillna(store['CompetitionDistance'].mean(), inplace = True)

In [41]:
# lets check again for null value
store.isnull().sum()

Store                  0
StoreType              0
Assortment             0
CompetitionDistance    0
Promo2                 0
dtype: int64

# Date Extraction

Lets extractthe dates from date features
Since we have only dates, we will extract years, months, day and weakof year

In [42]:
R_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

Firstly convert the datatype of 'Date' column to datetime format

In [43]:
# converting to datetime datatype

R_data['Date']=pd.to_datetime(R_data['Date'])

In [44]:
R_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  datetime64[ns]
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: datetime64[ns](1), int64(7), object(1)
memory usage: 69.8+ MB

In [45]:
# extract year, month, day and week of year from "Date"
R_data['Year'] =pd.DatetimeIndex(R_data['Date']).year
R_data['Month'] =pd.DatetimeIndex(R_data['Date']).month
R_data['Day'] =pd.DatetimeIndex(R_data['Date']).day
R_data['WeekOfYear'] = pd.DatetimeIndex(R_data['Date']).weekofyear
R_data = R_data.reset_index()

In [46]:
R_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 14 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   index          1017209 non-null  int64
 1   Store          1017209 non-null  int64
 2   DayOfWeek      1017209 non-null  int64
 3   Date           1017209 non-null  datetime64[ns]
 4   Sales          1017209 non-null  int64
 5   Customers      1017209 non-null  int64
 6   Open           1017209 non-null  int64
 7   Promo          1017209 non-null  int64
 8   StateHoliday   1017209 non-null  object
 9   SchoolHoliday  1017209 non-null  int64
 10  Year           1017209 non-null  int64
 11  Month          1017209 non-null  int64
 12  Day            1017209 non-null  int64
 13  WeekOfYear     1017209 non-null  int64
dtypes: datetime64[ns](1), int64(12), object(1)
memory usage: 108.6+ MB

# Joining Tables

Now join let join the table R_data and store dataframe

In [47]:
data = pd.merge(R_data, store, how='left', on='Store')
data.head()

   index  Store  DayOfWeek  ... Assortment  CompetitionDistance  Promo2
0      0      1          5  ...          a               1270.0       0
1      1      2          5  ...          a                570.0       1
2      2      3          5  ...          a              14130.0       1
3      3      4          5  ...          c                620.0       0
4      4      5          5  ...          a              29910.0       0

[5 rows x 18 columns]

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 18 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   index                1017209 non-null  int64
 1   Store                1017209 non-null  int64
 2   DayOfWeek            1017209 non-null  int64
 3   Date                 1017209 non-null  datetime64[ns]
 4   Sales                1017209 non-null  int64
 5   Customers            1017209 non-null  int64
 6   Open                 1017209 non-null  int64
 7   Promo                1017209 non-null  int64
 8   StateHoliday         1017209 non-null  object
 9   SchoolHoliday        1017209 non-null  int64
 10  Year                 1017209 non-null  int64
 11  Month                1017209 non-null  int64
 12  Day                  1017209 non-null  int64
 13  WeekOfYear           1017209 non-null  int64
 14  StoreType            1017209 non-null  object
 15  Assortment           1017209 non-null  object
 16  CompetitionDistance  1017209 non-null  float64
 17  Promo2               1017209 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(13), object(3)
memory usage: 147.5+ MB

In [49]:
data.isnull().sum()

index                  0
Store                  0
DayOfWeek              0
Date                   0
Sales                  0
Customers              0
Open                   0
Promo                  0
StateHoliday           0
SchoolHoliday          0
Year                   0
Month                  0
Day                    0
WeekOfYear             0
StoreType              0
Assortment             0
CompetitionDistance    0
Promo2                 0
dtype: int64

#  Drop Subsets Of Data Which Might Cause Bias

In [50]:
# We will remove the part of the datasets,where stores are closed, they won't generate sales
data=data[data.Open != 0]

In [51]:
# Check for Opened store with zero sales
data[data.Sales==0]['Store'].sum()

31460

In [52]:
# percentage of open stored with zero sales
data[data.Sales == 0]['Sales'].sum()/data.Sales.sum()

0.0

In [53]:
# Remove the Stores with zero sales
data=data[data.Sales != 0]

Checking the nominal values

In [54]:
# Nominal Values
set(data.StateHoliday),set(data.Assortment),set(data.StoreType)

({0, '0', 'a', 'b', 'c'}, {'a', 'b', 'c'}, {'a', 'b', 'c', 'd'})

Since StateHoliday have zero for none.
let's convert that into string '0'

In [55]:
# converting 0 to string '0'
data.loc[data.StateHoliday == 0,'StateHoliday'] = data.loc[data.StateHoliday == 0,'StateHoliday'].astype(str)

In [56]:
data.head()

   index  Store  DayOfWeek  ... Assortment  CompetitionDistance  Promo2
0      0      1          5  ...          a               1270.0       0
1      1      2          5  ...          a                570.0       1
2      2      3          5  ...          a              14130.0       1
3      3      4          5  ...          c                620.0       0
4      4      5          5  ...          a              29910.0       0

[5 rows x 18 columns]

In [59]:
# lets drop open column as it have no use now
data.drop(['Open'],axis=1)

           index  Store  DayOfWeek  ... Assortment  CompetitionDistance  Promo2
0              0      1          5  ...          a               1270.0       0
1              1      2          5  ...          a                570.0       1
2              2      3          5  ...          a              14130.0       1
3              3      4          5  ...          c                620.0       0
4              4      5          5  ...          a              29910.0       0
...          ...    ...        ...  ...        ...                  ...     ...
1016776  1016776    682          2  ...          a                150.0       0
1016827  1016827    733          2  ...          b                860.0       0
1016863  1016863    769          2  ...          b                840.0       1
1017042  1017042    948          2  ...          b               1430.0       0
1017190  1017190   1097          2  ...          b                720.0       0

[844338 rows x 17 columns]